<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/annotations"
            class="de.silvawb.java.annotations.AnnotationsPackage"
            genModel="model/java.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/arrays"
            class="de.silvawb.java.arrays.ArraysPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/classifiers"
            class="de.silvawb.java.classifiers.ClassifiersPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/commons"
            class="de.silvawb.java.commons.CommonsPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/containers"
            class="de.silvawb.java.containers.ContainersPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/expressions"
            class="de.silvawb.java.expressions.ExpressionsPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/generics"
            class="de.silvawb.java.generics.GenericsPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/imports"
            class="de.silvawb.java.imports.ImportsPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/instantiations"
            class="de.silvawb.java.instantiations.InstantiationsPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/literals"
            class="de.silvawb.java.literals.LiteralsPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/members"
            class="de.silvawb.java.members.MembersPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/modifiers"
            class="de.silvawb.java.modifiers.ModifiersPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/operators"
            class="de.silvawb.java.operators.OperatorsPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/parameters"
            class="de.silvawb.java.parameters.ParametersPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/references"
            class="de.silvawb.java.references.ReferencesPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/statements"
            class="de.silvawb.java.statements.StatementsPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/types"
            class="de.silvawb.java.types.TypesPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/java/variables"
            class="de.silvawb.java.variables.VariablesPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/commons/layout"
            class="de.silvawb.layout.LayoutPackage"
            genModel="model/java.genmodel"/>
   </extension>

</plugin>
