<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="de.mdelab.mltgg.sdl2uml.Sdl2umlPackage" genModel="model-gen/model/sdl2uml.genmodel" uri="http://www.mdelab.de/mltgg/sdl2uml/1.0"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="de.mdelab.mltgg.sdl2uml.generated.GeneratedPackage" genModel="model-gen/model/sdl2uml.genmodel" uri="http://www.mdelab.de/mltgg/sdl2uml/1.0/generated"/>
   </extension>












































































































































<extension point="de.mdelab.mltgg.mote2.eclipse.rules">
<rules configurationFileURI="model-gen/config.xmi" tggID="de.mdelab.mltgg.sdl2uml.ruleSetID"/>
</extension>
</plugin>
