<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UmlClassDiagram2Java -->
      <package class="de.mdelab.mltgg.UmlClassDiagram2Java.UmlClassDiagram2JavaPackage" genModel="model-gen/model/UmlClassDiagram2Java.genmodel" uri="UmlClassDiagram2Java"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UmlClassDiagram2Java -->
      <package class="de.mdelab.mltgg.UmlClassDiagram2Java.generated.GeneratedPackage" genModel="model-gen/model/UmlClassDiagram2Java.genmodel" uri="UmlClassDiagram2Java/generated"/>
   </extension>





<extension point="de.mdelab.mltgg.mote2.eclipse.rules">
<rules configurationFileURI="model-gen/config.xmi" tggID="UmlClassDiagram2Java"/>
</extension>
</plugin>
