<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://tu-berlin.de/silvawb/java"
            class="de.silvawb.java.JavaPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.emftext.org/commons/layout"
            class="de.silvawb.layout.LayoutPackage"
            genModel="model/java.genmodel"/>
   </extension>

</plugin>
