<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uml2blocky -->
      <package class="de.silvawb.uml2blocky.Uml2blockyPackage" genModel="model-gen/model/uml2blocky.genmodel" uri="http://tu-berlin.de/uml2blocky"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uml2blocky -->
      <package class="de.silvawb.uml2blocky.generated.GeneratedPackage" genModel="model-gen/model/uml2blocky.genmodel" uri="http://tu-berlin.de/uml2blocky/generated"/>
   </extension>


<extension point="de.mdelab.mltgg.mote2.eclipse.rules">
<rules configurationFileURI="model-gen/config.xmi" tggID="de.silvawb.uml2blocky"/>
</extension>
</plugin>
